#header{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    background: #F4F4F1;
}
#logo{
    width: 150px;
    content: url("../img/logo.svg");
}
#button{
    width: 40px;
    height: 40px;
    background-image: url("../img/menu.svg") ;
    background-size: cover;

}
#menu{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}
#menu li{
    display: inline-block;
    width: 70px;
}
#menu li a{
    color: #000;
    text-decoration: none;
}
#menu .active{
    color: #333333;
    background: #ffffff;
}
.card{
    width: 296px;
    height: 150px;
    background: url("../img/ticket-repeat.png");
}

